*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  background-color: 	#606060;
  color: #fff;
  min-width: 800px;
  max-width: 3840px;
  
  .authorization{
    display: flex;
    margin: 20px 50px;

    .LogIn{
      background-color: #606060;
      color:	#C0C0C0;
      width: 60px;
      margin-right: 10px; 
    }
    .LogIn:hover{
      color:#afa3a3;
      cursor: pointer;
    }
    .SignIn{
      background-color: 	#606060;
      color:#C0C0C0;
    
    }
    .SignIn:hover{
      color:#afa3a3;
      cursor: pointer;
    }
  }
  
  @media (max-width: 768px) {
    .App-header {
      
      width: 50%; 
      
    }
  }
}
.App-header h1:hover{
  cursor:default;
}
.Posts {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px;
  clear: both;

  .post-container {
    display: flex;
    width: 25%; 
    padding: 10px;
    box-sizing: border-box;
   
    .post {
      padding: 0 20px;
    }
  }

  .description p {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: 1200px) {
    .post-container {
      
      width: 50%; 
      flex-wrap:wrap ;
    }
  }

  @media (max-width: 768px) {
    .post-container {
      width: 50%; 
      flex-wrap:wrap ;
    }
  }

  @media (max-width: 480px) {
    .post-container {
      width: 100%; 
    }
  }
}

